table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px 15px;
  text-align: left;
}

th {
  background-color: #d465c2;
}

tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}

tbody tr:hover {
  background-color: #b98fbb;
}
